@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_ViewStart</title>
</head>
<body>
    <header>
        <h1>Curriculum Vitae</h1>
        <a href="@Url.RouteUrl("")">Home</a>
        <a href="@Url.RouteUrl("AboutMe")">AboutMe</a>
        <a href="@Url.RouteUrl("Contacts")">Contacts</a>
        <a href="@Url.RouteUrl("we")">WorkExperience</a>
    </header>


</body>
</html>
