
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_Layout</title>
</head>
<body>
    <header>
        <!--<a href="@Url.RouteUrl("AboutMe")>About Me</a> -->
    </header>
    @RenderBody()


</body>
</html>
